<p style="color: green"><%= notice %></p>

<h1>Invoices</h1>

<div id="invoices">
  <% @invoices.each_with_index do |invoice, index| %>
    
    <p>
      <%= link_to "#{index} #{invoice.name} Show", invoice %>
    </p>
  <% end %>
</div>

<%= link_to "New invoice", new_invoice_path %>
