<h1>New invoice</h1>

<div class="d-flex flex-column flex-xl-row">
  <div class="flex-lg-row-fluid me-lg-5 me-xl-3 mb-3">
    <%= render "form", invoice: @invoice %>
  </div>
  <div class="flex-column flex-lg-row-auto w-150 w-xl-200px mb-10">
    <div class="card text-dark bg-light mb-3" style="width: 11rem;">
      <div class="card-body">
        <h5 class="card-title">Summary</h5>
        <div id="subtotal">
          <p>Subtotal: <%= number_to_currency(0.0) %></p>
        </div>
        <div id="tax_or_discount">
        </div>
        <div id="total">
         <p>Total: <%= number_to_currency(0.0) %></p>
       </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Back to invoices", invoices_path %>
</div>
