<h1>Editing tax and discount</h1>

<%= render "form", tax_and_discount: @tax_and_discount %>

<br>

<div>
  <%= link_to "Show this tax and discount", @tax_and_discount %> |
  <%= link_to "Back to tax and discounts", tax_and_discounts_path %>
</div>
