<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each_with_index do |product, index| %>
    <p>
      <%= link_to "#{index}  #{product.name} show", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
